.container {
  background: lightgray;

  margin: 30px auto 30px auto;
  width: 75%;

  text-align: center;

  font-size: 50px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.place-img {
  width: 10%;
  height: 10%;
}
